body {
    background-image: url("https://t3.ftcdn.net/jpg/01/89/57/74/360_F_189577430_cj464MtFLSJu9efDkqQIUrKfwjJZI28l.jpg");
    background-color: rgb(78, 184, 208);
    background-size: cover;
    background-position: center center;
  }
  