body {
    background-image: url("https://www.pngkey.com/png/full/68-682087_about-web-bay-technology-background-in-png.png");
    background-size: cover;
    background-position: center center;
  }
  